<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--base href="{{ .Site.BaseUrl }}"-->

    <link href="/vendor/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/vendor/highlight.js/styles/default.css" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/bpesquet.ico">

    <title>{{ if .Title }}{{ .Title }}{{ else }}{{ "Baptiste Pesquet" }}{{ end }}</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>

            <div class="collapse navbar-collapse nav-collapse">
                <!--ul class="nav navbar-nav">
                    <li><a href="#">Link</a></li>
                </ul-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="mailto:bpesquet@gmail.com" title="Contact"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="https://twitter.com/bpesquet" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/110003637459679741050?rel=author"><i class="fa fa-google-plus" title="Google+"></i></a></li>
                    <li><a href="https://github.com/bpesquet" title="GitHub"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>{{ if .Title }}{{ .Title }}{{ else }}{{ "Baptiste Pesquet" }}{{ end }}</h1>
