{{ template "partials/header.html" . }}

<h1 class="pageTitle">Baptiste Pesquet</h1>
<p>Vous trouverez ici des ressources relatives à mon activité professionnelle d'enseignant en informatique. Bienvenue !
</p>

<div class="row">
    <div class="col-md-6">
        <h1>Supports de cours</h1>

        <ul>
            {{ range .Data.Pages.ByTitle }}
            {{ if eq .Type "cours" }}
                <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
            {{ end }}    
            {{ end }}
        </ul>
    </div>

    <div class="col-md-6">
        <h1>Tutoriels</h1>

        {{ template "partials/tutoriels.html" . }}

        <h1>Articles</h1>
        
        <ul>
            {{ range .Data.Pages.ByTitle }}
            {{ if eq .Type "article" }}
                <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
            {{ end }}   
            {{ end }}
        </ul>
    </div>

</div>

{{ template "partials/footer.html" . }}
