/* Add space for fixed-to-top navbar */
body {
    padding-top: 40px;
}

.footer {
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#TableOfContents {
    padding-left: 0;
}

.pageTitle {
    font-size: 42px;
}

/* images with classes "content" and "centered" */
img.content.centered {
    /* centered */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Images are being made responsive via JavaScript */
}

/* images with classes "content" and "bordered" */
img.content.bordered {
    /* 3D border */
    border-radius: 7px; 
    box-shadow: 1px 1px 10px #555;
}
